In [42]:
import datetime
import itertools
import pandas as pd
from san.extras.strategy import Strategy
from san.extras.sanx import SanX

In [43]:
import san.extras.strategy 
import san.extras.sanx

import importlib
importlib.reload(san.extras.strategy )
importlib.reload(san.extras.sanx)

from san.extras.strategy import Strategy
from san.extras.sanx import SanX

# Init Strategy

In [44]:
index = SanX(start_dt='2021-01-01')

# Adding/removing assets

In [45]:
# add reserve asset
index.add_assets({'dai': ['2021-01-01', '2021-01-15']}, assets_type='r')
index.reserve_assets.head()

           asset
index
2021-01-01   dai
2021-01-02   dai
2021-01-03   dai
2021-01-04   dai
2021-01-05   dai

In [46]:

# add non-reserve assets
index.add_assets({
    'ethereum': ['2021-01-01', '2021-01-15'],
    'uniswap': ['2021-01-01', '2021-01-15'],
    'maker': ['2021-01-01', '2021-01-15']
})
index.assets.head()

               asset
index
2021-01-01  ethereum
2021-01-01   uniswap
2021-01-01     maker
2021-01-02  ethereum
2021-01-02   uniswap

In [47]:
index.assets

               asset
index
2021-01-01  ethereum
2021-01-01   uniswap
2021-01-01     maker
2021-01-02  ethereum
2021-01-02   uniswap
2021-01-02     maker
2021-01-03  ethereum
2021-01-03   uniswap
2021-01-03     maker
2021-01-04  ethereum
2021-01-04   uniswap
2021-01-04     maker
2021-01-05   uniswap
2021-01-05     maker
2021-01-05  ethereum
2021-01-06     maker
2021-01-06  ethereum
2021-01-06   uniswap
2021-01-07     maker
2021-01-07  ethereum
2021-01-07   uniswap
2021-01-08     maker
2021-01-08   uniswap
2021-01-08  ethereum
2021-01-09   uniswap
2021-01-09     maker
2021-01-09  ethereum
2021-01-10   uniswap
2021-01-10     maker
2021-01-10  ethereum
2021-01-11   uniswap
2021-01-11     maker
2021-01-11  ethereum
2021-01-12     maker
2021-01-12  ethereum
2021-01-12   uniswap
2021-01-13  ethereum
2021-01-13   uniswap
2021-01-13     maker
2021-01-14  ethereum
2021-01-14   uniswap
2021-01-14     maker
2021-01-15  ethereum
2021-01-15   uniswap
2021-01-15     maker

In [48]:
# Remove uniswap for 2021-01-03 - 2021-01-05
index.remove_assets({'uniswap': ['2021-01-03', '2021-01-04']})
index.assets.head(12)

               asset
index
2021-01-01  ethereum
2021-01-01   uniswap
2021-01-01     maker
2021-01-02  ethereum
2021-01-02   uniswap
2021-01-02     maker
2021-01-03  ethereum
2021-01-03     maker
2021-01-04  ethereum
2021-01-04     maker
2021-01-05   uniswap
2021-01-05     maker

# Adding/removing signals

In [49]:
buy_signals = pd.DataFrame({
    'dt': ['2021-01-05', '2021-01-05', '2021-01-10', '2021-01-11'],
    'asset': ['ethereum', 'uniswap', 'ethereum', 'uniswap']
})

buy_signals['decision_delay'] = datetime.timedelta(days=1)

sell_signals_1 = pd.DataFrame({
    'dt': ['2021-01-02', '2021-01-06', '2021-01-10'],
    'asset': ['uniswap', 'ethereum', 'uniswap']
})

sell_signals_2 = pd.DataFrame({
    'dt': ['2021-03-01'],
    'asset': ['uniswap']
})

In [50]:
# Add buy signals to the index
index.add_signals('b', buy_signals, signal_name='buy')
index.buy_signals

                   dt signal     asset trade_percantage decision_delay
2021-01-06 2021-01-05    buy  ethereum              NaN         1 days
2021-01-06 2021-01-05    buy   uniswap              NaN         1 days
2021-01-11 2021-01-10    buy  ethereum              NaN         1 days
2021-01-12 2021-01-11    buy   uniswap              NaN         1 days

In [51]:
# Add sell signals to the index
index.add_signals('s', sell_signals_1, signal_name='sell_1')
index.add_signals('s', sell_signals_2, signal_name='sell_2')
index.sell_signals

                   dt  signal     asset trade_percantage decision_delay
2021-01-02 2021-01-02  sell_1   uniswap              NaN         0 days
2021-01-06 2021-01-06  sell_1  ethereum              NaN         0 days
2021-01-10 2021-01-10  sell_1   uniswap              NaN         0 days
2021-03-01 2021-03-01  sell_2   uniswap              NaN         0 days

In [52]:
# Remove part of the sell signals
index.remove_signals('s', signal_name='sell_2')
index.sell_signals

                   dt  signal     asset trade_percantage decision_delay
2021-01-02 2021-01-02  sell_1   uniswap              NaN         0 days
2021-01-06 2021-01-06  sell_1  ethereum              NaN         0 days
2021-01-10 2021-01-10  sell_1   uniswap              NaN         0 days

In [53]:
# Define rebalance signals df
rebalance_signals = pd.DataFrame({
    'dt': ['2021-01-10']
})

In [54]:
# Add rebalance signals
index.add_signals('r', rebalance_signals, signal_name='rebalance')
index.rebalance_signals

                   dt     signal asset trade_percantage decision_delay
2021-01-10 2021-01-10  rebalance   NaN              NaN         0 days

# Setting prices

In [55]:
prices = pd.DataFrame(
    list(itertools.product(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
                            '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10',
                            '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15'],
                            ['ethereum', 'dai', 'uniswap', 'maker'])),
    columns=['dt', 'asset']
).set_index('dt')
prices['price'] = [4000, 1, 100, 300,
                   4100, 1, 90, 310,
                   4200, 1, 110, 320,
                   4100, 1, 100, 310,
                   4000, 1, 100, 300,
                   4100, 1, 90, 310,
                   4200, 1, 110, 320,
                   4100, 1, 100, 310,
                   4000, 1, 100, 300,
                   4100, 1, 90, 310,
                   4200, 1, 110, 320,
                   4100, 1, 100, 310,
                   4000, 1, 100, 300,
                   4100, 1, 90, 310,
                   4200, 1, 110, 320,
                   ]

In [56]:
index.set_prices(prices)

In [57]:
index.prices.head(8)

               asset  price  price_change
dt
2021-01-01       dai      1      1.000000
2021-01-01  ethereum   4000      1.000000
2021-01-01     maker    300      1.000000
2021-01-01   uniswap    100      1.000000
2021-01-02       dai      1      1.000000
2021-01-02  ethereum   4100      1.025000
2021-01-02     maker    310      1.033333
2021-01-02   uniswap     90      0.900000

# Adding periodic rebalance

In [58]:
# add default monthly rebalancing

index.add_periodic_rebalance('0 0 1 * *')

# Init

In [59]:
index.build_portfolio('2021-01-01', '2021-01-15', rebuild=True)

WARNING:root:Assets shares are missing for 2021-01-01 00:00:00. The shares will be set to 1.
WARNING:root:Assets shares are missing for 2021-01-02 00:00:00. The shares will be set to 1.
WARNING:root:Assets shares are missing for 2021-01-06 00:00:00. The shares will be set to 1.
WARNING:root:Assets shares are missing for 2021-01-10 00:00:00. The shares will be set to 1.
WARNING:root:Assets shares are missing for 2021-01-11 00:00:00. The shares will be set to 1.

In [60]:
index.portfolio

               asset     share
dt
2021-01-01  ethereum  0.333333
2021-01-01     maker  0.333333
2021-01-01   uniswap  0.333333
2021-01-02  ethereum  0.498592
2021-01-02     maker  0.501408
2021-01-03  ethereum  0.496679
2021-01-03     maker  0.503321
2021-01-04  ethereum  0.498592
2021-01-04     maker  0.501408
2021-01-05  ethereum  0.500616
2021-01-05     maker  0.499384
2021-01-06     maker       0.5
2021-01-06   uniswap       0.5
2021-01-07     maker   0.45787
2021-01-07   uniswap   0.54213
2021-01-08     maker  0.473684
2021-01-08   uniswap  0.526316
2021-01-09     maker  0.465517
2021-01-09   uniswap  0.534483
2021-01-10     maker       1.0
2021-01-11  ethereum  0.333333
2021-01-11     maker  0.333333
2021-01-11   uniswap  0.333333
2021-01-12  ethereum  0.342039
2021-01-12     maker  0.339432
2021-01-12   uniswap  0.318529
2021-01-13  ethereum  0.340261
2021-01-13     maker  0.334944
2021-01-13   uniswap  0.324795
2021-01-14  ethereum  0.353293
2021-01-14     maker    0.3506
2021-01-14   uniswap  0.296108
2021-01-15  ethereum  0.333333
2021-01-15     maker  0.333333
2021-01-15   uniswap  0.333333